body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.utility {
    header {
        background-color: aqua;
    }

    #nav {
        background-color: rgb(229, 255, 0);

    }




    .container {
        display: flex;
        height: 250px;
        justify-content: center;
        align-items: center;
    }

    .container~#download {
        background-color: blue;
    }
}

#download {
    background-color: pink;

}

#cn_friends {
    background-color: bisque;
}


#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 700px;
    padding-left: 5px;
    padding-right: 5px;
}


#download {
    height: 200px;
    width: 70%;
}