body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: aqua;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}


#container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 700px;
    background-color: rgb(229, 255, 0);
    padding-left: 5px;
    padding-right: 5px;
}

#container_2 {
    background-color: rgb(11, 11, 164);
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

#sub-container {
    height: 200px;
    width: 500px;
    background-color: pink;
}